<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">ToDo Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/user}">to-do Management</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> Update To_do </h1>
				<div class = "card-body">
					<form th:action="@{/user/{id} (id=${user.id})}" th:object = "${user}" method="POST">
						<div class ="form-group">
							<label> TASK NAME </label>
							<input
							type = "text"
							name = "taskName"
							th:field = "*{taskName}"
							class = "form-control"
							placeholder="Enter Task"
							/>
						</div>
						
						<div class ="form-group">
							<label> DESCRIPTION </label>
							<input
							type = "text"
							name = "description"
							th:field = "*{description}"
							class = "form-control"
							placeholder="Enter Description of Task"
							/>
						</div>
						
						<div class ="form-group">
							<label> DEADLINE </label>
							<input
							type = "text"
							name = "deadline"
							th:field = "*{deadline}"
							class = "form-control"
							placeholder="Enter Deadline of Task"
							/>
						</div>
						
						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary">
								Submit
							</button>
						</div>
					</form>
				
				</div>
			</div>
		</div>
	</div>
</body>
</html>